/**
 * Most unl_fourone css comes from all.css in the WDNTemplates project.
 * CSS that does appear here is for CMS specific items or modifications
 * that need to be made for WDN styles to work with CMS DOM structure.
 */

/* Override Drupal's decsion to make all labels bold. */
label {
  font-weight: inherit;
}

/* Position tabs at the top right of maincontent */
#maincontent ul.wdn_tabs.cms_tabs {
  position: absolute;
  right: 0;
  top: -55px;
  background-color: #F6F5EA;
  opacity: 0.96;
  width: auto;
}

/* Related Links region contextual links */
#wdn_footer_related a.contextual-links-trigger {
  display: none;
}
#wdn_footer_related .contextual-links-region:hover a.contextual-links-trigger {
  display: block;
}

/* Fix for a Views page */
#pagetitle {
  position: relative;
}
#wdn_content_wrapper.contextual-links-region {
  position: static;
}

/* Overrides of system.menus.css due to conflicts with UNL navigation */
#navigation li {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

/* Override for unl #maincontent specificity */
ul.links.inline {
  padding-left: 0 !important;
}

/* Webform calendar image shouldn't stretch to 100% */
input.webform-calendar {
  width: auto;
  vertical-align: baseline;
  margin-left: 0.4em;
}

/* Color contrast of required * on form labels */
.marker, .form-required {
  color: #b40000;
}

/**
 * WDN bands support
 */
.content-top .field-collection-view,
.content-bottom .field-collection-view {
  overflow: hidden;
}
.content-top .node > h2,
.content-bottom .node > h2 {
  display: none;
}
.field-collection-view-links {
  display: none;
}
.field-name-field-wdn-band-bg img.wdn-stretch {
  position: absolute;
}
.node .content.wdn-inner-wrapper {
  position: relative;
}
#maincontent > .wdn-band:after {
  clear: both;
  content: "";
  display: block;
}
#block-views-bands-bands-top > h3,
#block-views-bands-bands-bottom > h3 {
  display: none;
}


/* taxonomy */
.taxonomy-term-description {
  box-shadow: 0 0 1px #bbb;
  margin: 0 0 20px;
  padding: 10px;
}

/* unl_newsitem full page */
.page-node .node-unl-newsitem .submitted {
  border-color: #F2EDDE;
  border-width:  0 0 2px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
  color: #666;
}
.page-node .node-unl-newsitem .submitted .username {
  color: #666;
}
.page-node .node-unl-newsitem .submitted .username:hover {
  text-decoration: underline;
}
.page-node .node-unl-newsitem .submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg {
  border-color: #F2EDDE;
  border-width: 1px 0;
  border-style: solid;
  margin: 0 0 15px 0;
  padding: 3px 0;
}
.page-node .node-unl-newsitem .primary-image {
  float: right;
  margin-left: 10px;
  max-width: 50%;
}
.page-node .node-unl-newsitem .primary-image img,
.page-node .node-unl-newsitem .primary-image .caption {
  width: 96%;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item {
  display: inline;
}
.page-node .node-unl-newsitem .field-name-field-unl-newsimg .field-item img {
  max-height: 120px;
  margin: 0 10px 10px 0;
}

/* sidebar */
.sidebar .block {
  margin: 0 0 30px 0;
}
.sidebar .block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* .node-teaser */
.node-teaser {
  margin-bottom: 10px;
  padding: 10px;
}
.node-teaser.node-sticky {
  background-color: #E8F4FF;
  border: 1px solid #E1EAF0;
}
.content > .node-teaser:nth-child(odd) {
  background-color: #f7f7f7;
}
.views-row-even .node-teaser {
  background-color: #f7f7f7;
}
.node-teaser .content {
  margin-bottom: 5px;
}
.node-teaser h2, .node-teaser h3, .node-teaser h4, .node-teaser h5, .node-teaser h6 {
  padding-top: 0;
}
.node-teaser h2 a, .node-teaser h3 a, .node-teaser h4 a, .node-teaser h5 a, .node-teaser h6 a {
  color: #444;
  font-size: 18px;
}
.node-teaser h2 a:hover, .node-teaser h3 a:hover, .node-teaser h4 a:hover, .node-teaser h5 a:hover, .node-teaser h6 a:hover {
  text-decoration: underline;
}
.node-teaser .meta.submitted {
  font-size: .95em;
  color: #888;
  margin-bottom: 15px;
}
.node-teaser .meta.submitted .username {
  color: #888;
}
.node-teaser .meta.submitted .username:hover {
  text-decoration: underline;
}
.node-teaser .meta.submitted .datetime {
  font-style: italic;
  margin-left: 10px;
}
.node-teaser .links {
  float: right;
}
.node-teaser .node-readmore a {
  background: #3388bb;
  padding: 3px 8px;
  color: #eee;
}
.node-teaser .field-type-image .field-item {
  float: left;
  margin: 0 20px 30px 0;
}
