<div class="wdn-band wdn-band-neutral-seperator wdn-light-neutral-band"{{ attributes }}>
  <div class="wdn-inner-wrapper">
    <blockquote class="wdn-quote">
      {{ entity.field_quote }}
      <cite class="wdn-quoter">
        {{ entity.field_quoter }} <span class="quoter-context">{{ entity.field_quoter_context }}</span>
      </cite>
    </blockquote>
  </div>
</div>
