.form-item { margin: 1em 0; }
.form-item .filter-guidelines,
.form-item .description {
    position: relative;
    font-size: .75rem;
}
.form-item .filter-list {
    width: auto;
}
.form-item .js-form-item-text-format-value {
    margin-bottom: 0;
}
.form-item .form-range-output-container { display: none; }
.form-item .form-color-output { display: none; }
.rateit .rateit-range:focus { outline: 1px dotted; }
.webform-submission-form input.form-color {
    margin: 0;
    float: none !important;
}
.webform-submission-form input.form-color:focus {
    border-color: #137cbd;
}
.webform-tableselect-sort .form-item {
    margin: 0;
}
.webform-component-date select {width: auto;}
.webform-component-webform_time select {width: auto;}
.webform-component-managed_file input[type=file] {width: auto;}

@media (min-width: 48em) {
    .form-item .description { font-size: .602rem; }
}

.password-strength__meter {
    margin-top: 0.5em;
    background-color: #ebeae4;
}
.password-strength__indicator {
    background-color: #77b259;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}
.password-strength__indicator.is-weak {
    background-color: #e62600;
}
.password-strength__indicator.is-fair {
    background-color: #e09600;
}
.password-strength__indicator.is-good {
    background-color: #0074bd;
}
.password-strength__indicator.is-strong {
    background-color: #77b259;
}

a.tabledrag-handle .handle {
    padding:0;
    margin-top: 0;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

#maincontent > .webform-submission-form:last-child {
    margin-bottom: 1em;
}
