/* --------------- System Tabs  --------------- */

@media screen and (max-width: 43.69em) {
    .cms_tabs {
        padding-top: 10px;
    }
    .cms_tabs li {
        display: block;
        clear: left;
    }
    .wdn_tabs li.selected {
        margin-bottom: 5px;
    }

}
