<div class="funding-ct--summary-section--contact-info-email">
    {% for item in items %}
        <span class="wdn-icon-mail" aria-hidden="true"></span><span class="wdn-text-hidden">email icon</span>{{ item }}
    {% endfor %}
</div>
