<div class="funding-ct--summary-section--contact-info-phone">
    {% for item in items %}
        <span class="wdn-icon-phone" aria-hidden="true"></span><span class="wdn-text-hidden">phone icon</span>{{ item }}
    {% endfor %}
</div>

