{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="wdn_tabs cms_tabs disableSwitching">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="wdn_tabs cms_tabs disableSwitching">{{ secondary }}</ul>
{% endif %}
