<div id="wdn_header_top">
  <span id="wdn_institution_title"><a href="http://www.unl.edu/">University of Nebraska&ndash;Lincoln</a></span>
  <div id="wdn_resources">
    {% include "/wdn/templates_4.1/includes/wdnResources.html"%}
    {% include "/wdn/templates_4.1/includes/idm.html"%}
    {% include "/wdn/templates_4.1/includes/search.html"%}
  </div>
</div>
<div id="wdn_logo_lockup">
  <div class="wdn-inner-wrapper">
    {% include "/wdn/templates_4.1/includes/logo.html"%}
    <!-- InstanceBeginEditable name="titlegraphic" -->
    {% if content %}
      {{ content }}
    {% endif %}
    <!-- InstanceEndEditable -->
  </div>
</div>

